include *.rst
include Makefile
include .coveragerc
include .gitignore
include tox.ini
include .travis.yml
include testsuite.py
include tests.py
include tests/*.txt
recursive-include tests/sample-tree *.py *.zip

# added by check_manifest.py
include *.yml
include LICENSE
