include *.mk
include *.rst
include *.yml
include LICENSE
include Makefile
include .coveragerc
include .gitignore
include tox.ini
include pytest.ini
include conftest.py
include tests.py
include tests/*.txt
include tests/sample-tree/snake.egg-info
recursive-include tests/sample-tree *.py *.zip
