include *.rst
include Makefile
include .coveragerc
include .gitignore
include tox.ini
include testsuite.py
include tests.py
include tests/*.txt
include tests/sample-tree/snake.egg-info
recursive-include tests/sample-tree *.py *.zip

# added by check_manifest.py
include *.yml
include LICENSE

# added by check_manifest.py
include *.mk
